* {
    margin-bottom: 0;
}
body {
  background-color: rgb(234, 235, 238);
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 25px, 4%;
  top: 0;
  background-color: rgb(234, 235, 238);
}
#header-img {
  width: 22%;
  height: auto;
}
li a {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
}
.nav-links li {
  display: inline-block;
}
.nav-links li a {
    padding: 0 20px;
  }
.nav-links li a:hover {
  color: black;
}
#heading {
  text-align: center;
  height: 1.8rem;
}
#email,
#submit {
  display: block;
  margin: 15px auto;
}
#email {
  font-size: 0.9rem;
  padding: 6px;
  width: 18%;
}
#submit {
  background-color: #f1c40f;
  padding: 5px;
  border: none;
  font-size: 1.1rem;
  border-radius: 3px;
  font-weight: 800;
}
#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  gap: 20px;
}

.services {
  display: flex;
  align-items: center;
  width: 60%;
}

i {
  color: darkorange;
  font-size: 3.8rem;
  padding: 20px 40px;
}

.service-title,
.service-description {
  margin: 0;
}

#video {
  display: flex;
  justify-content: center;
}

#prices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100%;
  margin: 70px 0;
  gap: 20px;
}

.card {
  border: 1px solid black;
  max-width: 100%;
  width: 20%;
  height: fit-content;
}

#prices .card .card-heading {
  text-align: center;
  font-size: 14px;
  background: #dddddd;
  padding: 1px;
}

.card-description {
  text-align: center;
  margin: 0;
  padding: 0;
}

.card-price {
  text-align: center;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#prices .card button {
  background-color: #f1c40f;
  text-align: center;
  padding: 11px 15px;
  display: block;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  margin: 15px auto;
  cursor: pointer;
}

.footer {
  background-color: #dddddd;
  text-align: right;
  max-width: 100%;
  width: 65%;
  margin: 0 auto;
}

.footer-links li {
  display: inline-block;
  margin-top: 12px;
  padding-right: 25px;
  padding-top: 10px;
}

.footer p {
    font-size: 0.9rem;
    padding-right: 23px;
    padding-bottom: 27px;
}